extands ../layout 

block content 
    .login-box 
        .header 
            h2 Registration
        form(action="/autch_reg", method="post")
            .form-group 
                label(for="fillname") Fullname 
                input(type="rext" name="email" class="form-conrtol")
            .form-group 
                label(for="fillname") Email 
                input(type="rext" name="email" class="form-conrtol")
            .form-group 
                label(for="fillname") Password 
                input(type="rext" name="email" class="form-conrtol")
            .form-group 
                label(for="fillname")  Confirm Password
                input(type="rext" name="email" class="form-conrtol")
